!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"charset"=>"utf-8"}/
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults
    /[if IE]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    /[if lte IE 7]
      = javascript_include_tag 'IE8'
    = csrf_meta_tag
    = yield(:head)

  %body{:id => 'index', :class => 'home'}
    %header{:id => 'banner', :class => 'body'}
      %h1
        %a{:href => '/'}
          Ruby Community
          %strong
            We're best!

      %nav= render_navigation :level => 1
    %section{:id => 'content', :class => 'body'} 
      #container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1= yield(:title)

        = yield
    %footer{:id => 'contentinfo', :class => 'body'}
      %address{:id => 'about', :class => 'vcard body'}
        %span{:class => 'primary'}
          %strong
            %a{:href => '#'}
              Rubyist.ru
          %span{:class => 'role'}
            We're the best
        %img{:src => '/images/rails.png', :alt => 'Rubyist.ru', :class => 'photo'}
        %span.bio
          Rubyist.ru is a website and blog that offers resources and advice to ruby developers.

      %p
        2011
        %a{:href => '#'}
          Rubyist.ru

